@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

@keyframes wiggle {
  0%,
  100% {
    padding-inline: 12px;
    height: 40px;
  }
  50% {
    padding-inline: 24px;
    height: 36px;
  }
}

.icon-normal-stroke {
  stroke: #545454;
}

.icon-normal-fill {
  fill: #545454;
}

.orange-text-gradient {
  background: -webkit-linear-gradient(#df8531, #df6531);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
