@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

.orange-text-gradient {
  background: -webkit-linear-gradient(#df8531, #df6531);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon > .sidebar-icon {
  fill: #f0f0f0;
}

.icon:hover > .sidebar-icon {
  fill: #df6531;
}

.icon > .sidebar-icon-stroke {
  stroke: #f0f0f0;
}

.icon:hover > .sidebar-icon-stroke {
  stroke: #df6531;
}
